@import "sass/variables";
@import "sass/mixins";

@import "sass/Thin";
@import "sass/ThinItalic";
@import "sass/Light";
@import "sass/LightItalic";
@import "sass/Regular";
@import "sass/Italic";
@import "sass/Medium";
@import "sass/MediumItalic";
@import "sass/Bold";
@import "sass/BoldItalic";
@import "sass/Black";
@import "sass/BlackItalic";

